.banner-img {
    background-image: url("https://images.pexels.com/photos/8390508/pexels-photo-8390508.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    /* Add other background properties if needed */
    width: 100%;
    height: 300px; /* Set an appropriate height */
}
.banner-img h1{
   text-shadow: 2px 2px 3px rgb(12, 38, 98);
}

.banner-img p{
   text-shadow: 1px 1px 1px rgb(12, 38, 98);
}


@media screen {
  .banner-img {
    background-image: url(https://images.pexels.com/photos/8390508/pexels-photo-8390508.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    padding: 0 10px;
}
}


@keyframes marquee {
   0% {
     transform: translateX(100%);
   }
   100% {
     transform: translateX(-100%);
   }
 }
 
 .marquee {
   display: inline-flex;
   animation: marquee 20s linear infinite;
 }

 .text-shadow-part{
 
   text-shadow: 1px 1px 2px rgb(216, 174, 174);
 }

/* courses */
.course-banner{
background-image: url('https://images.pexels.com/photos/6214934/pexels-photo-6214934.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.course-banner h1{
  color: #63b0d9;
  text-shadow: 2px 2px 5px rgb(76, 67, 67);
}

.course-banner p{
  color: #63b0d9;
  text-shadow: 1px 1px 3px rgb(114, 61, 61);
}





 
 